<div style="text-align: center;">
    <h1> <%= @user.name %>'s profile</h1>
    <h2> Ton email : </h2>
    <p><%= @user.email %></p>
    <h2> Ton nom : </h2>
    <p><%= @user.name %></p>
    <% if logged_in? && @user == @current_user %>
    <% end %>
<p><%= link_to 'Editer mon profil', edit_user_path(@user) %></p>
<%= link_to 'Delete this account', 'user/destroy'  %>
<%= link_to "Logout", logout_path, method: :delete,
                    class: "dropdown-link" %>
</div>
